
@mixin ellipsis($line:1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  word-break: break-all;
}
div{
  font-size: 18px;
  line-height: 22px;
}
.ellipsis-2 {
  @include ellipsis(2);
}
.ab-fill{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.ab-fill-scroll{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-left{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tran-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);;
}